body {
    background-color: rgb(2, 8, 38);
    font-family: 'Questrial', sans-serif
}
*{
    margin:0px;
    padding:0px;
    
}

/* navigation */

header {
    position: sticky;
    top: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    margin-top: 0px;
    background-color: rgb(2, 8, 38);
}

#logo {
    margin: 1px 25px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;

}

#navbar ul {
    display: flex;
    width:70%;
}

#navbar ul li {
    display:flex;
    padding:0px 10px;
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: azure;
    padding: 2px 25px;

    text-decoration: none;
}

#navbar ul li a.active {
    color: rgb(191 226 226);
    border-radius:5px;
    
    border-bottom: 2px solid #04b7de;
}

#navbar ul li a:hover {
    color: rgb(191 226 226);
    border-radius:5px;
    border-bottom: 2px solid #04b7de;
}

/* reg and login button  */

.button{
    text-align:right;
    width:30%;
}
.btn1 {
/*     margin-left: 500px; */
    padding: 7px 10px;
    border-radius: 8px;
    border-color: #730384;
    background-color: rgb(250 234 239);
    font-family: cursive;
}

.btn1:hover {
    background: #730384;
    color: rgb(226 245 245);
    cursor: pointer;
}

.btn2 {
    margin-left: 5px;
    margin-right: 20px;
    padding: 7px 10px;
    border-radius: 8px;
    border-color: #730384;
    ;
    background-color: rgb(250 234 239);
    font-family: cursive;
}

.btn2:hover {
    background: #730384;
    color: rgb(226 245 245);
    cursor: pointer;
}

/* burger */
.burger{
    display:none;
    position : absolute;
    cursor:pointer;
    right: 5%;
    top: 15px;
}
.line{
    width:33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

/* overall coordinator section */


.h-primary {
    color: rgb(188, 230, 230);
    font-size: 50px;
    text-align: center;
    padding: 80px;
}

.overall{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

/* card */

.card {
    border: rgb(188, 230, 230);
    border-radius: 10px;
    color: white;
    background-color: #03162f;
    text-align: center;
    width: 300px;
    height: 350px;
}

.card img {
    border-radius: 50%;
    padding: 20px;
    height: 150px;
    width: 150px;
}

.card:hover {
    box-shadow: 0 0 11px #0163789c;
}

.card img:hover {
    transition: 1s;
    transform: scale(1.2);
}

.card p {
    padding: 20px 0px;
    color: #e3c9c9;
}

.icon img {
    padding: 10px 18px;
    height: 25px;
    width: 25px;

}

.icon img:hover {
    transform: scale(2);
    transition: 0.65s;
}

/* Team section */

.team1 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.team2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

/* footer */

#end {
    margin-top: 300px;
    color: rgba(240, 248, 255, 0.482);
    height: 100%;
    background-color: #011837;
}

.foot {
    display: flex;
    justify-content: space-around;
}

.h-last {
    padding:15px 0px;
    margin-top:50px;
    color: aliceblue;
    font-size: 2.5rem;
    
}

.our {

    width: 250px;
    display: flex;
    flex-direction: column;
}

.com {
    width:auto;
    height: auto;
    display: flex;
    font-size: 1.2rem;
}

.hlink {
    margin-top:50px;
    padding:10px 0px;
    font-size: 2.2rem;
}

.sl {
    display: flex;
    padding: 6px 3px;
    font-size: 25px;

}

.sl a {
    text-decoration: none;
    color: aliceblue;
}

.icon1 img {
    padding-right: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}

#last {
    margin-top: 80px;
}

.last {
    color: rgba(255, 255, 255, 0.301);
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

